[submodule "libbpf"]
	path = libbpf
	url = https://github.com/libbpf/libbpf.git
[submodule "ovs"]
	path = ovs
	url = https://github.com/openvswitch/ovs.git
[submodule "OVS-Mellanox"]
	path = OVS-Mellanox
	url = https://github.com/Mellanox/OVS.git
